<app-toast></app-toast>
<button
  class="btn btn-sm btn-outline-secondary float-end mt-2"
  (click)="executeExport()"
  title="Export to Excel"
>
  <i class="fa-solid fa-file-excel me-1"></i>Export
</button>
<button
  class="btn btn-sm btn-outline-secondary float-end me-1 mt-2"
  title="Add new"
  data-bs-toggle="modal"
  data-bs-target="#SecondarySaveModal"
  (click)="formReset()"
>
  <i class="fa-solid fa-plus me-1"></i>Add
</button>
<table
  class="table table-hover table-bordered table-responsive-md fs-7"
  id="secondarycategory-table"
>
  <thead class="table-info">
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Description</th>
      <th>Initials</th>
      <th>Order</th>
      <th>PrimaryCategory</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of secondaryCategories(); let i = index">
      <td>{{ i + 1 }}</td>
      <td>
        <div *ngIf="item.isEdit">
          <input
            type="text"
            [(ngModel)]="item.name"
            class="form-control form-control-sm"
          />
        </div>
        <div *ngIf="!item.isEdit">
          {{ item.name }}
        </div>
      </td>
      <td>
        <div *ngIf="item.isEdit">
          <input
            type="text"
            [(ngModel)]="item.description"
            class="form-control form-control-sm"
          />
        </div>
        <div *ngIf="!item.isEdit">
          {{ item.description }}
        </div>
      </td>
      <td>
        <div *ngIf="item.isEdit">
          <input
            type="text"
            [(ngModel)]="item.initials"
            class="form-control form-control-sm"
          />
        </div>
        <div *ngIf="!item.isEdit">
          {{ item.initials }}
        </div>
      </td>
      <td>
        <div *ngIf="item.isEdit">
          <input
            type="number"
            min="0"
            [(ngModel)]="item.orderid"
            class="form-control form-select-sm"
          />
        </div>
        <div *ngIf="!item.isEdit">
          {{ item.orderid }}
        </div>
      </td>
      <td>
        <div *ngIf="item.isEdit">
          <select
            class="form-select form-select-sm"
            [(ngModel)]="item.mastercategoryid"
          >
            <option
              *ngFor="let category of primaryCategories()"
              [value]="category.id"
            >
              {{ category.name }}
            </option>
          </select>
        </div>
        <div *ngIf="!item.isEdit">
          {{ getMasterCategoryName(item.mastercategoryid) }}
        </div>
      </td>
      <td class="col col-lg-2">
        <div *ngIf="item.isEdit">
          <button
            class="btn btn-sm btn-outline-primary"
            (click)="
              update(
                item.id,
                item.name,
                item.description,
                item.initials,
                item.orderid,
                item.mastercategoryid
              );
              item.isEdit = false
            "
            title="Update Changes"
          >
            <i class="fa-regular fa-floppy-disk"></i>
            save
          </button>
          <button
            class="btn btn-sm btn-outline-danger ms-1"
            (click)="delete(item.id); item.isEdit = false"
            title="Delete Category"
          >
            <i class="fa-solid fa-trash-can"></i>
            delete
          </button>
          <button
            class="btn btn-sm btn-outline-primary ms-1"
            (click)="item.isEdit = false"
            title="Cancel"
          >
            <i class="fa-regular fa-rectangle-xmark"></i>
            cancel
          </button>
        </div>
        <div *ngIf="!item.isEdit">
          <button
            class="btn btn-sm btn-outline-primary"
            (click)="onEdit(item)"
            title="Edit"
          >
            <i class="far fa-edit"></i>
            edit
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<hr />
<!-- Modal -->
<div
  class="modal fade"
  id="SecondarySaveModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-info-subtle">
        <h6 class="modal-title" id="exampleModalLabel">
          Add New Secondary Category
        </h6>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formSecondaryCategory">
          <div class="row">
            <div class="col-12">
              <label for="slavename" class="form-label required">Name</label>
              <input
                type="text"
                name="slavename"
                class="form-control form-control-sm"
                id="slavename"
                placeholder="Commentary Driving"
                formControlName="name"
                required
              />
            </div>
            <div class="col-12">
              <label for="slavedescription" class="form-label mt-1"
                >Description</label
              >
              <input
                type="text"
                name="slavedescription"
                class="form-control form-control-sm"
                id="slavedescription"
                placeholder="Commentary Driving Description"
                formControlName="description"
              />
            </div>
            <div class="col-6">
              <label for="slaveinitials" class="form-label mt-1"
                >Initials</label
              >
              <input
                type="text"
                name="slaveinitials"
                class="form-control form-control-sm"
                id="slaveinitials"
                placeholder="A"
                formControlName="initials"
              />
            </div>
            <div class="col-6">
              <label for="slaveorderid" class="form-label mt-1">Order</label>
              <input
                type="number"
                min="0"
                name="slaveorderid"
                class="form-control form-control-sm"
                id="slaveorderid"
                placeholder="1"
                formControlName="orderid"
              />
            </div>
            <div class="col-12">
              <label for="slaveprimarycategory" class="form-label mt-1 required"
                >Primary Category</label
              >
              <select
                name="slaveprimarycategory"
                class="form-select form-select-sm"
                id="slaveprimarycategory"
                formControlName="mastercategoryid"
                required
              >
                <option disabled value="null">Select Primary Category</option>
                @for (item of primaryCategories(); track $index) {
                <option [value]="item.id">{{ item.name }}</option>
                }
              </select>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer bg-info-subtle">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button
          type="submit"
          class="btn btn-primary"
          (click)="
            create(
              formSecondaryCategory.value.name,
              formSecondaryCategory.value.description,
              formSecondaryCategory.value.initials,
              formSecondaryCategory.value.orderid,
              formSecondaryCategory.value.mastercategoryid
            )
          "
          [disabled]="formSecondaryCategory.invalid"
          data-bs-dismiss="modal"
          title="Save Form"
        >
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>
