.ag-theme-quartz {
  --ag-header-background-color: #a3cfbb;
  --ag-font-size: 14px; /* Set your desired font size */
  --ag-borders: solid 1px; /* Enable borders */
  --ag-border-color: #ccc; /* Set border color */
  --ag-row-border-style: solid;
  --ag-row-border-width: 1px;
  --ag-row-border-color: #ccc;
  --ag-cell-horizontal-border: solid 1px #ccc;
}

.ag-theme-quartz-dark {
  --ag-font-size: 14px; /* Set your desired font size */
  --ag-borders: solid 1px; /* Enable borders */
  --ag-border-color: #ccc; /* Set border color */
  --ag-row-border-style: solid;
  --ag-row-border-width: 1px;
  --ag-row-border-color: #ccc;
  --ag-cell-horizontal-border: solid 1px #ccc;
}

.legend-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.legend-item {
  display: flex;
  align-items: center;
  gap: 5px;
}

.legend-box {
  width: 15px;
  height: 15px;
  display: inline-block;
  border: 1px solid #ccc;
}
.legend-red {
  background-color: #f8d7da; /* Red for License Expired */
  border-color: #842029;
}

.legend-yellow {
  background-color: #fff3cd; /* Yellow for Permit Expired */
  border-color: #856404;
}

.legend-blue {
  background-color: #85c0e4; /* Yellow for Permit Expired */
  border-color: #856404;
}
