<div class="container-fluid">
  <hr />
  <div class="row">
    <div class="col-auto">
      <img
        src="img/employees.jpg"
        alt="AllEmployees"
        width="334px"
        height="150px"
      />
    </div>
    <div class="col-auto">
      <h2>All Employees</h2>
      <p>You can select it my navigating one by one and edit it (if needed):</p>
    </div>
  </div>
  <hr />
  <app-toast></app-toast>
  <div class="row">
    <div class="col-12">
      <button
        class="btn btn-sm btn-outline-secondary ms-1 float-end"
        (click)="executeExport()"
        title="Export to Excel"
      >
        <i class="fa-solid fa-file-excel me-1"></i>Export
      </button>

      <button
        class="btn btn-sm btn-outline-secondary float-end"
        (click)="openSignUpModal()"
        title="SignUp User"
      >
        <i class="fa-solid fa-user-plus me-1"></i>Add new employee
      </button>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-hover table-bordered fs-7" id="alluser-table">
      <thead class="table-primary">
        <tr>
          <th>UserID</th>
          <th>Username</th>
          <th>Email</th>
          <th>Name</th>
          <th>Mobile</th>
          <th>Company</th>
          <th>Designation</th>
          <th>Role</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        @for (item of employees(); track $index) {
        <tr>
          <td>
            <div>
              {{ item.userid }}
            </div>
          </td>
          <td>
            <div>
              {{ item.username }}
            </div>
          </td>
          <td>
            <div>
              {{ item.email }}
            </div>
          </td>
          <td>
            <div *ngIf="item.isEdit">
              <input
                type="text"
                [(ngModel)]="item.name"
                class="form-control form-control-sm"
              />
            </div>
            <div *ngIf="!item.isEdit">
              {{ item.name }}
            </div>
          </td>
          <td>
            <div *ngIf="item.isEdit">
              <input
                type="text"
                [(ngModel)]="item.mobile"
                class="form-control form-control-sm"
              />
            </div>
            <div *ngIf="!item.isEdit">
              {{ item.mobile }}
            </div>
          </td>
          <td>
            <div *ngIf="item.isEdit">
              <input
                type="text"
                [(ngModel)]="item.company"
                class="form-control form-control-sm"
              />
            </div>
            <div *ngIf="!item.isEdit">
              {{ item.company }}
            </div>
          </td>
          <td>
            <div *ngIf="item.isEdit">
              <input
                type="text"
                [(ngModel)]="item.designation"
                class="form-control form-control-sm"
              />
            </div>
            <div *ngIf="!item.isEdit">
              {{ item.designation }}
            </div>
          </td>
          <td>
            <div *ngIf="item.isEdit">
              <select
                class="form-select form-select-sm"
                [(ngModel)]="item.role"
              >
                @for (item of roles(); track $index) {
                <option [value]="item">{{ item }}</option>
                }
              </select>
            </div>
            <div *ngIf="!item.isEdit">
              {{ item.role }}
            </div>
          </td>
          <td>
            @if (item.isEdit) {
            <div class="fs-7">
              <button
                class="btn btn-sm btn-outline-primary"
                (click)="
                  updateUser(
                    item.userid,
                    item.name,
                    item.mobile,
                    item.company,
                    item.designation,
                    item.role
                  );
                  item.isEdit = false
                "
                title="Update User"
              >
                <i class="fa-regular fa-floppy-disk"></i>
              </button>

              <button
                type="button"
                class="btn btn-sm btn-outline-primary ms-1"
                (click)="openModal(item.userid)"
                title="Update Password"
              >
                <i class="fa-solid fa-key"></i>
              </button>

              <button
                class="btn btn-sm btn-outline-primary ms-1"
                (click)="item.isEdit = false"
                title="Cancel"
              >
                <i class="fa-regular fa-rectangle-xmark"></i>
              </button>
            </div>
            }@else {
            <button
              class="btn btn-sm btn-outline-primary"
              (click)="onEdit(item)"
              title="Edit User"
            >
              <i class="far fa-edit"></i>
            </button>
            <button
              class="btn btn-sm btn-outline-danger ms-1"
              (click)="deleteUser(item.userid)"
              title="Delete User"
            >
              <i class="fa-solid fa-user-slash"></i>
            </button>
            }
          </td>
        </tr>
        }@empty {
        <tr>
          <p>Please update your search criteria for items to be displayed</p>
        </tr>
        }
      </tbody>
    </table>
  </div>
  <app-signup #signupModel></app-signup>
  <app-delete-confirmation></app-delete-confirmation>
  <router-outlet></router-outlet>

  <div
    class="modal fade"
    id="employeePassword"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-info-subtle">
          <h6 class="modal-title" id="employeePassword">Update Password</h6>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="formPassword">
            <div class="row">
              <div class="col-12">
                <label for="newPassword" class="form-label required"
                  >New Password</label
                >
                <input
                  type="password"
                  name="newPassword"
                  class="form-control"
                  id="newPassword"
                  placeholder="password"
                  minlength="8"
                  formControlName="newpassword"
                  required
                />
                @if (newpassword?.invalid && (newpassword?.dirty ||
                newpassword?.touched)) {
                <div class="text-danger">
                  @if (newpassword?.errors?.['required']) {
                  <small>Password is required</small>
                  } @if(newpassword?.errors?.['minlength']){
                  <small>Password length is minimum 8 characters</small>
                  }
                </div>
                }
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer bg-info-subtle">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
            title="Close modal without saving"
          >
            Close
          </button>
          <button
            type="submit"
            class="btn btn-primary"
            (click)="
              updatePassword(
                formPassword.value.id,
                formPassword.value.newpassword
              )
            "
            [disabled]="formPassword.invalid"
            data-bs-dismiss="modal"
            title="Save New Password"
          >
            Save changes
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
