<div class="container-fluid">
  <hr />
  <div class="row">
    <div class="col-auto">
      <img
        src="img/allassessment.jpg"
        alt="AllAssessments"
        width="180px"
        height="150px"
      />
    </div>
    <div class="col-auto">
      <h2>All Assessments</h2>
      <p>You can select it my navigating one by one and edit it (if needed):</p>
    </div>
  </div>
  <hr />
  <app-toast></app-toast>
  <div class="bg-warning bg-opacity-25">
    <form
      [formGroup]="formSession"
      class="row row-cols-lg-auto g-3 align-items-end ms-1"
    >
      <div class="col-auto">
        <label class="label ms-1 strong" for="inlineFormInputGroupNic"
          >Driver NIC</label
        >
        <div class="input-group">
          <input
            type="text"
            class="form-control form-control-sm my-inputextend"
            id="inlineFormInputGroupNic"
            placeholder="xxxxx-xxxxxxx-x"
            formControlName="nic"
          />
        </div>
      </div>
      <div class="col-auto">
        <label class="label ms-1 strong" for="inlineFormInputGroupSessionName"
          >Session ID</label
        >
        <div class="input-group">
          <input
            type="text"
            class="form-control form-control-sm"
            id="inlineFormInputGroupSessionName"
            placeholder="UEP-LPG-2308-01-01"
            formControlName="name"
          />
        </div>
      </div>
      <div class="col-auto">
        <label class="label ms-1 strong" for="inlineFormInputGroupSessionDate"
          >Road Test Date</label
        >
        <div class="input-group">
          <input
            type="date"
            class="form-control form-control-sm"
            id="inlineFormInputGroupSessionDate"
            formControlName="sessiondate"
          />
        </div>
      </div>
      <div class="col-auto">
        <label class="label ms-1 strong" for="inlineFormSelectLocation"
          >Location</label
        >
        <select
          class="form-select form-select-sm"
          id="inlineFormSelectLocation"
          formControlName="locationid"
        >
          <option disabled value="null">-----Select-----</option>
          @for (item of locations(); track $index) {
          <option [value]="item.id">{{ item.name }}</option>
          }
        </select>
      </div>
      <div class="col-auto">
        <label class="label ms-1 strong" for="inlineFormSelectResult"
          >Result</label
        >
        <select
          class="form-select form-select-sm"
          id="inlineFormSelectResult"
          formControlName="resultid"
        >
          <option disabled value="null">-----Select-----</option>
          @for (item of results(); track $index) {
          <option [value]="item.id">{{ item.name }}</option>
          }
        </select>
      </div>
      <div class="col-auto">
        <label class="label ms-1 strong" for="inlineFormSelectStage"
          >Stage</label
        >
        <select
          class="form-select form-select-sm"
          id="inlineFormSelectStage"
          formControlName="stageid"
        >
          <option disabled value="null">-----Select-----</option>
          @for (item of stages(); track $index) {
          <option [value]="item.id">{{ item.name }}</option>
          }
        </select>
      </div>
      <div class="col-auto">
        <label class="label ms-1 strong" for="inlineFormSelectContractor"
          >Contractor</label
        >
        <select
          class="form-select form-select-sm"
          id="inlineFormSelectContractor"
          formControlName="contractorid"
        >
          <option disabled value="null">-----Select-----</option>
          @for (item of contractors(); track $index) {
          <option [value]="item.id">{{ item.name }}</option>
          }
        </select>
      </div>
      <div class="col-auto">
        <label class="label ms-1 strong" for="inlineFormInputGroupStartDate"
          >From Date</label
        >
        <div class="input-group">
          <input
            type="date"
            class="form-control form-control-sm my-input"
            id="inlineFormInputGroupStartDate"
            formControlName="startDate"
          />
        </div>
      </div>
      <div class="col-auto">
        <label class="label ms-1 strong" for="inlineFormInputGroupEndDate"
          >To Date</label
        >
        <div class="input-group">
          <input
            type="date"
            class="form-control form-control-sm my-input"
            id="inlineFormInputGroupEndDate"
            formControlName="endDate"
          />
        </div>
      </div>
      <div class="col-auto">
        <button
          type="submit"
          class="btn btn-warning btn-sm"
          (click)="getFillterredData()"
          title="Search assessments"
        >
          <i class="fa-solid fa-filter"></i> Search
        </button>

        <button
          type="button"
          class="btn btn-secondary btn-sm ms-1"
          (click)="formRest()"
          title="Reset Searched Form"
        >
          <i class="fa-solid fa-filter-circle-xmark me-1"></i> Reset
        </button>
      </div>
    </form>
    <hr />
  </div>
  <div class="form-group">
    <input
      type="search"
      class="form-control"
      placeholder="Filter session records......"
      id="filter-text-box"
      (input)="onFilterTextBoxChanged()"
    />
  </div>
  <hr />
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="legend-container">
        Legends:
        <div class="legend-item fs-7">
          <span class="legend-box legend-blue"></span>
          <span>Selected Row</span>
        </div>
        <div class="legend-item fs-7">
          <button
            type="button"
            class="btn btn-outline-warning btn-sm"
            style="font-size: 10px"
          >
            <i class="fa-solid fa-circle-info"></i>
          </button>
          <span>Assessment Detail Page</span>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <button
        class="btn btn-sm btn-outline-secondary ms-1 float-end"
        (click)="resetFilters()"
        title="Reset All Grid Filters"
      >
        <i class="fa-solid fa-filter-circle-xmark"></i>
        Reset Grid
      </button>
      <button
        class="btn btn-sm btn-outline-secondary ms-1 float-end"
        (click)="executeExport()"
        title="Export to Excel"
      >
        <i class="fa-solid fa-file-excel me-1"></i>Export
      </button>

      <button
        class="btn btn-sm btn-outline-secondary float-end"
        routerLink="/addassessment"
        title="Add Assessment"
      >
        <i class="fa-solid fa-circle-plus me-1"></i>Add new assessment
      </button>
    </div>
  </div>
  <div>
    <ag-grid-angular
      [class]="themeClass"
      [rowData]="sessionsWithName()"
      [columnDefs]="colDefs"
      [pagination]="true"
      [paginationPageSize]="20"
      [paginationPageSizeSelector]="[5, 10, 20, 50, 100]"
      [defaultColDef]="defaultColDef"
      (gridReady)="onGridReady($event)"
      [gridOptions]="gridOptions"
    ></ag-grid-angular>
  </div>

  <app-delete-confirmation #confirmationModal></app-delete-confirmation>
</div>
