<div class="container-fluid">
  <app-toast></app-toast>
  <hr />
  <div class="row">
    <div class="col-auto">
      <img
        src="img/alltrainings.jpg"
        alt="AllTrainings"
        width="180px"
        height="150px"
      />
    </div>
    <div class="col-auto">
      <h2>All Training</h2>
      <p>You can select it my navigating one by one and edit it (if needed):</p>
    </div>
  </div>
  <hr />
  <div class="bg-primary bg-opacity-50">
    <form
      [formGroup]="formTrainingSearch"
      class="row row-cols-lg-auto g-3 align-items-end ms-1"
    >
      <div class="col-auto">
        <label class="label ms-1 strong" for="inlineFormInputGroupid"
          >Training ID</label
        >
        <div class="input-group">
          <input
            type="text"
            class="form-control form-control-sm my-inputextend"
            id="inlineFormInputGroupid"
            placeholder="Load-33/2425"
            formControlName="name"
          />
        </div>
      </div>
      <div class="col-auto">
        <label class="label ms-1 strong" for="inlineFormInputGroupPlanDate"
          >Plan Date</label
        >
        <div class="input-group">
          <input
            type="date"
            class="form-control form-control-sm"
            id="inlineFormInputGroupPlanDate"
            formControlName="plandate"
          />
        </div>
      </div>
      <div class="col-auto">
        <label class="label ms-1 strong" for="inlineFormSelectCourse"
          >Course</label
        >
        <select
          class="form-select form-select-sm"
          id="inlineFormSelectCourse"
          formControlName="courseid"
        >
          <option disabled value="null">-----Select-----</option>
          @for (item of courses(); track $index) {
          <option [value]="item.id">{{ item.name }}</option>
          }
        </select>
      </div>
      <div class="col-auto">
        <label class="label ms-1 strong" for="inlineFormSelectCategory"
          >Category</label
        >
        <select
          class="form-select form-select-sm"
          id="inlineFormSelectCategory"
          formControlName="categoryid"
        >
          <option disabled value="null">-----Select-----</option>
          @for (item of categories(); track $index) {
          <option [value]="item.id">{{ item.name }}</option>
          }
        </select>
      </div>
      <div class="col-auto">
        <label class="label ms-1 strong" for="inlineFormSelectClient"
          >Sponsor</label
        >
        <select
          class="form-select form-select-sm"
          id="inlineFormSelectClient"
          formControlName="clientid"
        >
          <option disabled value="null">-----Select-----</option>
          @for (item of clients(); track $index) {
          <option [value]="item.id">{{ item.name }}</option>
          }
        </select>
      </div>
      <div class="col-auto">
        <label class="label ms-1 strong" for="inlineFormSelectContractor"
          >Contractor</label
        >
        <select
          class="form-select form-select-sm"
          id="inlineFormSelectContractor"
          formControlName="contractorid"
        >
          <option disabled value="null">-----Select-----</option>
          @for (item of filteredContractors(); track $index) {
          <option [value]="item.id">{{ item.name }}</option>
          }
        </select>
      </div>
      <div class="col-auto">
        <label class="label ms-1 strong" for="inlineFormInputGroupStartDate"
          >From Date</label
        >
        <div class="input-group">
          <input
            type="date"
            class="form-control form-control-sm my-input"
            id="inlineFormInputGroupStartDate"
            formControlName="startDate"
          />
        </div>
      </div>
      <div class="col-auto">
        <label class="label ms-1 strong" for="inlineFormInputGroupEndDate"
          >To Date</label
        >
        <div class="input-group">
          <input
            type="date"
            class="form-control form-control-sm my-input"
            id="inlineFormInputGroupEndDate"
            formControlName="endDate"
          />
        </div>
      </div>
      <div class="col-auto">
        <button
          type="submit"
          class="btn btn-primary btn-sm"
          (click)="getFillterredData()"
          title="Search trainings"
        >
          <i class="fa-brands fa-searchengin me-1"></i>Search
        </button>

        <button
          type="button"
          class="btn btn-secondary btn-sm ms-1"
          (click)="formRest()"
          title="Reset Searched Form"
        >
          <i class="fa-solid fa-window-restore me-1"></i>Reset
        </button>
      </div>
    </form>
    <hr />
  </div>
  <div class="form-group">
    <input
      type="search"
      class="form-control"
      placeholder="Filter training records......"
      id="filter-text-box"
      (input)="onFilterTextBoxChanged()"
    />
  </div>
  <hr />
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="legend-container">
        Legends:
        <div class="legend-item fs-7">
          <span class="legend-box legend-blue"></span>
          <span>Selected Row</span>
        </div>
        <div class="legend-item fs-7">
          <span class="legend-box legend-red"></span>
          <span>New</span>
        </div>
        <div class="legend-item fs-7">
          <span class="legend-box legend-yellow"></span>
          <span>Open</span>
        </div>
        <div class="legend-item fs-7">
          <span class="legend-box legend-dblue"></span>
          <span>Plan</span>
        </div>
        <div class="legend-item fs-7">
          <span class="legend-box legend-green"></span>
          <span>InProgress</span>
        </div>
        <div class="legend-item fs-7">
          <span class="legend-box"></span>
          <span>Completed</span>
        </div>
        <div class="legend-item fs-7">
          <button
            type="button"
            class="btn btn-outline-primary btn-sm"
            style="font-size: 10px"
          >
            <i class="fa-solid fa-circle-info"></i>
          </button>
          <span>Training Detail Page</span>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <button
        class="btn btn-sm btn-outline-secondary ms-1 float-end"
        (click)="resetFilters()"
        title="Reset All Grid Filters"
      >
        <i class="fa-solid fa-filter-circle-xmark"></i>
        Reset Grid
      </button>
      <button
        class="btn btn-sm btn-outline-secondary ms-1 float-end"
        (click)="executeExport()"
        title="Export to Excel"
      >
        <i class="fa-solid fa-file-excel me-1"></i>Export
      </button>
      <button
        class="btn btn-sm btn-outline-secondary float-end"
        title="Add New training"
        routerLink="/addtraining"
      >
        <i class="fa-solid fa-circle-plus me-1"></i>Add new training
      </button>
    </div>
  </div>

  <div>
    <ag-grid-angular
      [class]="themeClass()"
      [rowData]="trainingsWithNames()"
      [columnDefs]="colDefs"
      [getRowStyle]="getRowStyle"
      [pagination]="true"
      [paginationPageSize]="20"
      [paginationPageSizeSelector]="[5, 10, 20, 50, 100]"
      [defaultColDef]="defaultColDef"
      (gridReady)="onGridReady($event)"
      [gridOptions]="gridOptions"
    ></ag-grid-angular>
  </div>
  <app-delete-confirmation #confirmationModal></app-delete-confirmation>
  <router-outlet></router-outlet>
</div>
