<div class="container-fluid">
  <hr />
  <div class="row">
    <div class="col-auto">
      <img src="img/visual.jpg" alt="Visual" width="200px" height="150px" />
    </div>
    <div class="col-auto">
      <h2>Visual</h2>
      <p>You can select it by navigating one by one and edit it (if needed):</p>
    </div>
  </div>
  <hr />
  <app-toast></app-toast>
  <button
    class="btn btn-sm btn-outline-secondary float-end"
    (click)="executeExport()"
    title="Export to Excel"
  >
    <i class="fa-solid fa-file-excel me-1"></i>Export
  </button>
  <button
    class="btn btn-sm btn-outline-secondary float-end me-1"
    title="Add new"
    data-bs-toggle="modal"
    data-bs-target="#visualSaveModal"
    (click)="formRest()"
  >
    <i class="fa-solid fa-plus me-1"></i>Add
  </button>
  <table
    class="table table-hover table-bordered table-responsive-md"
    id="visual-table"
  >
    <thead class="table-info">
      <tr>
        <th>#</th>
        <th>ID</th>
        <th>Visual Name</th>
        <th>Visual Description</th>
        <th>Created By</th>
        <th>Created Date</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let visual of visuals(); let i = index">
        <td class="col-auto">{{ i + 1 }}</td>
        <td>
          <div>
            {{ visual.id }}
          </div>
        </td>
        <td>
          <div *ngIf="visual.isEdit">
            <input type="text" [(ngModel)]="visual.name" class="form-control" />
          </div>
          <div *ngIf="!visual.isEdit">
            {{ visual.name }}
          </div>
        </td>
        <td>
          <div *ngIf="visual.isEdit">
            <input
              type="text"
              [(ngModel)]="visual.description"
              class="form-control"
            />
          </div>
          <div *ngIf="!visual.isEdit">
            {{ visual.description }}
          </div>
        </td>
        <td>
          <div>
            {{ visual.createdby }}
          </div>
        </td>
        <td>
          <div>
            {{ visual.created_at | date }}
          </div>
        </td>
        <td class="col col-lg-2">
          <div *ngIf="visual.isEdit">
            <button
              class="btn btn-sm btn-outline-primary"
              (click)="
                update(visual.id, visual.name, visual.description);
                visual.isEdit = false
              "
              title="Update Changes"
            >
              <i class="fa-regular fa-floppy-disk"></i>
              save
            </button>
            <button
              class="btn btn-sm btn-outline-primary ms-1"
              (click)="visual.isEdit = false"
              title="Cancel"
            >
              <i class="fa-regular fa-rectangle-xmark"></i>
              cancel
            </button>
          </div>
          <div *ngIf="!visual.isEdit">
            <button
              class="btn btn-sm btn-outline-primary"
              (click)="onEdit(visual)"
              title="Edit"
            >
              <i class="far fa-edit"></i>
              edit
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <hr />
  <!-- Modal -->
  <div
    class="modal fade"
    id="visualSaveModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-info-subtle">
          <h6 class="modal-title" id="exampleModalLabel">Add New visual</h6>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="formSaveVisual">
            <div class="row">
              <div class="col-12">
                <label for="visual" class="form-label required"
                  >Visual Name</label
                >
                <input
                  type="text"
                  name="visual"
                  class="form-control"
                  id="visual"
                  placeholder="Glasses Prescribed"
                  formControlName="name"
                  required
                />
              </div>
              <div class="col-12">
                <label for="description" class="form-label"
                  >Visual Description</label
                >
                <input
                  type="text"
                  name="description"
                  class="form-control"
                  id="description"
                  placeholder="Visual description"
                  formControlName="description"
                />
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer bg-info-subtle">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
            title="Close without saving"
          >
            Close
          </button>
          <button
            type="submit"
            class="btn btn-primary"
            (click)="
              create(
                formSaveVisual.value.name,
                formSaveVisual.value.description
              )
            "
            [disabled]="formSaveVisual.invalid"
            data-bs-dismiss="modal"
            title="Save Form"
          >
            Save changes
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
