<div class="container-fluid">
  <hr />
  <div class="row">
    <div class="col-auto">
      <img
        src="img/industry.jpg"
        alt="Industries"
        width="230px"
        height="150px"
      />
    </div>
    <div class="col-auto">
      <h2>Industries</h2>
      <p>
        <i
          >You can select it by navigating one by one and edit it (if
          needed):</i
        >
      </p>
    </div>
  </div>
  <hr />
  <app-toast></app-toast>
  <button
    class="btn btn-sm btn-outline-secondary float-end"
    (click)="executeExport()"
    title="Export to Excel"
  >
    <i class="fa-solid fa-file-excel me-1"></i>Export
  </button>
  <button
    class="btn btn-sm btn-outline-secondary float-end me-1"
    title="Add new"
    data-bs-toggle="modal"
    data-bs-target="#industriesSaveModal"
    (click)="formRest()"
  >
    <i class="fa-solid fa-plus me-1"></i>Add
  </button>
  <table
    class="table table-hover table-bordered table-responsive-md"
    id="industries-table"
  >
    <thead class="table-info">
      <tr>
        <th>#</th>
        <th>ID</th>
        <th>Industry Name</th>
        <th>Description</th>
        <th>Created By</th>
        <th>Created Date</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of industries(); let i = index">
        <td class="col-auto">{{ i + 1 }}</td>
        <td>
          <div>
            {{ item.id }}
          </div>
        </td>
        <td>
          <div *ngIf="item.isEdit">
            <input type="text" [(ngModel)]="item.name" class="form-control" />
          </div>
          <div *ngIf="!item.isEdit">
            {{ item.name }}
          </div>
        </td>
        <td>
          <div *ngIf="item.isEdit">
            <input
              type="text"
              [(ngModel)]="item.description"
              class="form-control"
            />
          </div>
          <div *ngIf="!item.isEdit">
            {{ item.description }}
          </div>
        </td>
        <td>
          <div>
            {{ item.createdby }}
          </div>
        </td>
        <td>
          <div>
            {{ item.created_at | date }}
          </div>
        </td>
        <td class="col col-lg-2">
          <div *ngIf="item.isEdit">
            <button
              class="btn btn-sm btn-outline-primary"
              (click)="
                update(item.id, item.name, item.description);
                item.isEdit = false
              "
              title="Update Changes"
            >
              <i class="fa-regular fa-floppy-disk"></i>
              save
            </button>
            <button
              class="btn btn-sm btn-outline-primary ms-1"
              (click)="item.isEdit = false"
              title="Cancel"
            >
              <i class="fa-regular fa-rectangle-xmark"></i>
              cancel
            </button>
          </div>
          <div *ngIf="!item.isEdit">
            <button
              class="btn btn-sm btn-outline-primary"
              (click)="onEdit(item)"
              title="Edit"
            >
              <i class="far fa-edit"></i>
              edit
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <hr />
  <!-- Modal -->
  <div
    class="modal fade"
    id="industriesSaveModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-info-subtle">
          <h6 class="modal-title" id="exampleModalLabel">Add New Industry</h6>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="formSaveIndustries">
            <div class="row">
              <div class="col-12">
                <label for="industryname" class="form-label required"
                  >Industry Name</label
                >
                <input
                  type="text"
                  name="industryname"
                  class="form-control"
                  id="industryname"
                  placeholder="Tobacco Industry"
                  formControlName="name"
                  required
                />
              </div>
              <div class="col-12">
                <label for="industrydescription" class="form-label"
                  >Industry Description</label
                >
                <input
                  type="text"
                  name="industrydescription"
                  class="form-control"
                  id="industrydescription"
                  placeholder="Manufacturing of tobacco products"
                  formControlName="description"
                />
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer bg-info-subtle">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
            title="Close without saving"
          >
            Close
          </button>
          <button
            type="submit"
            class="btn btn-primary"
            (click)="
              create(
                formSaveIndustries.value.name,
                formSaveIndustries.value.description
              )
            "
            [disabled]="formSaveIndustries.invalid"
            data-bs-dismiss="modal"
            title="Save Form"
          >
            Save changes
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
