<div class="container-fluid">
  <app-toast></app-toast>
  <div>
    @if (driverForm.get('id')?.value) {
    <form [formGroup]="driverForm">
      <div class="form-group small">
        <hr />
        <div class="row">
          <div class="col-auto">
            <img
              src="img/driver.jpg"
              alt="Driver"
              width="180px"
              height="150px"
            />
          </div>
          <div class="col-auto">
            <h3>
              <i
                title="Driver Name"
                class="fa-regular fa-user me-1 text-success"
              ></i
              >{{ driverForm.get("name")?.value }}
            </h3>
            <p>
              <i
                title="DriverDBID"
                class="fa-regular fa-id-badge me-1 text-success"
              ></i
              >{{ driverForm.get("id")?.value }}
            </p>
            <p>
              <i
                title="Created By"
                class="fa-solid fa-user-tie me-2 text-success"
              ></i
              >{{ driverForm.get("createdby")?.value }}
              <i
                title="Created Date"
                class="fa-solid fa-thumbtack me-1 text-success"
              ></i
              >{{ driverForm.get("created_at")?.value | date }}
            </p>
            <p>
              <i
                title="Modified By"
                class="fa-solid fa-user-pen me-1 text-success"
              ></i
              >{{ driverForm.get("modifiedby")?.value }}
              <i
                title="Modified Date"
                class="fa-solid fa-thumbtack me-1 text-success"
              ></i
              >{{ driverForm.get("modified_at")?.value | date }}
            </p>
          </div>
          <div class="mb-3 col-auto">
            <button
              class="btn btn-outline-success btn-sm ms-1"
              type="button"
              routerLink="/adddriver"
              title="Add Driver"
            >
              <i class="fa-solid fa-circle-plus"></i>
              Add New Driver
            </button>
            <button
              class="btn btn-outline-success btn-sm ms-1"
              type="button"
              (click)="printPage()"
              title="Print Page"
            >
              <i class="fa-solid fa-print"></i>
              Print
            </button>
            @if (isEdit) {
            <button
              id="savebtn"
              class="btn btn-outline-success btn-sm ms-1"
              type="submit"
              (click)="updateDriver(); toggleEdit()"
              title="Update Changes"
            >
              <i class="fa-regular fa-floppy-disk"></i>
              Save
            </button>

            <button
              type="reset"
              class="btn btn-outline-secondary btn-sm ms-1"
              (click)="resetForm()"
              title="Reset Form"
            >
              <i class="fa-solid fa-window-restore"></i>
              Reset
            </button>
            <button
              class="btn btn-outline-success btn-sm ms-1"
              (click)="toggleEdit()"
              title="Cancel"
            >
              <i class="fa-regular fa-rectangle-xmark"></i>
              cancel
            </button>
            }@else{
            <button
              class="btn btn-outline-success btn-sm ms-1"
              type="button"
              (click)="toggleEdit()"
              title="Edit"
            >
              <i class="far fa-edit"></i>

              {{ "Edit" }}
            </button>
            }
          </div>
        </div>
        <hr />
        <div class="text-success fw-medium fs-7">
          <div class="mb-3 row border">
            <label for="dname" class="col-sm-1 col-form-label required"
              >Name:</label
            >
            <div class="col-lg-3 col-md-5 col-sm-11 mt-2">
              <input
                id="dname"
                type="text"
                name="dname"
                class="form-control form-control-sm"
                formControlName="name"
              />
              @if (name?.invalid && (name?.dirty || name?.touched)) {
              <div class="text-danger">
                @if (name?.errors?.['required']) {
                <small>Driver name is required</small>
                }
              </div>
              }
            </div>
            <label for="gender" class="col-sm-1 col-form-label">Gender:</label>
            <div class="col-lg-3 col-md-5 col-sm-11 mt-2">
              @if (isEdit) {
              <select
                class="form-select form-select-sm"
                id="gender"
                formControlName="gender"
              >
                <option disabled selected value="null">-----Select-----</option>
                @for (item of gender(); track $index) {
                <option [value]="item">{{ item }}</option>
                }
              </select>
              }@else {
              <input
                class="form-control form-control-sm"
                id="gender"
                placeholder="-----Select-----"
                [value]="driverForm.get('gender')?.value"
                disabled
              />}
            </div>
            <label for="dob" class="col-sm-1 col-form-label"
              >Date of birth:</label
            >
            <div class="col-lg-3 col-md-5 col-sm-11 mt-2">
              <input
                id="dob"
                type="date"
                class="form-control form-control-sm"
                formControlName="dob"
                placeholder="mm/dd/yyyy"
              />
            </div>
            <label for="age" class="col-sm-1 col-form-label">Driver Age:</label>
            <div class="col-lg-3 col-md-5 col-sm-11 mt-2">
              <input
                id="age"
                class="form-control form-control-sm"
                formControlName="age"
                placeholder="NONE"
              />
            </div>

            <label for="nic" class="col-sm-1 col-form-label required"
              >NIC Card#:</label
            >
            <div class="col-lg-3 col-md-5 col-sm-11 mt-2">
              <input
                id="nic"
                class="form-control form-control-sm"
                type="text"
                formControlName="nic"
              />
              @if (nic?.invalid && (nic?.dirty || nic?.touched)) {
              <div class="text-danger">
                @if (nic?.errors?.['required']) {
                <small>NIC is required</small>
                } @if(nic?.errors?.['pattern']){
                <small>Invalid NIC format. Please insert xxxxx-xxxxxxx-x</small>
                }
              </div>
              }
            </div>
            <label for="nicexpiry" class="col-sm-1 col-form-label"
              >NIC Expiry:</label
            >
            <div class="col-lg-3 col-md-5 col-sm-11 mt-2">
              <input
                id="nicexpiry"
                type="date"
                name="nicexpiry"
                class="form-control form-control-sm"
                formControlName="nicexpiry"
                placeholder="mm/dd/yyyy"
              />
            </div>
            <label
              for="ddesignation"
              class="col-sm-1 col-form-label text-success"
              >Designation:</label
            >
            <div class="col-lg-3 col-md-5 col-sm-11 mt-2">
              <input
                id="ddesignation"
                type="text"
                name="ddesignation"
                placeholder="Safety Manager"
                class="form-control form-control-sm"
                formControlName="designation"
              />
            </div>
            <label for="licensenumber" class="col-sm-1 col-form-label required"
              >License #:</label
            >
            <div class="col-lg-3 col-md-5 col-sm-11 mt-2">
              <input
                id="licensenumber"
                type="text"
                name="licensenumber"
                class="form-control form-control-sm"
                formControlName="licensenumber"
              />
              @if (licensenumber?.invalid && (licensenumber?.dirty ||
              licensenumber?.touched)) {
              <div class="text-danger">
                @if (licensenumber?.errors?.['required']) {
                <small>Driver license number is required</small>
                }
              </div>
              }
            </div>
            <label for="licensetypeid" class="col-sm-1 col-form-label"
              >License Type:</label
            >
            <div class="col-lg-3 col-md-5 col-sm-11 mt-2">
              @if (isEdit) {
              <select
                class="form-select form-select-sm"
                id="licensetypeid"
                formControlName="licensetypeid"
              >
                <option disabled selected value="null">-----Select-----</option>
                @for (item of dltypes(); track $index) {
                <option [value]="item.id">{{ item.name }}</option>
                }
              </select>
              }@else {
              <input
                class="form-control form-control-sm"
                id="licensetypeid"
                placeholder="-----Select-----"
                [value]="getDLTypeName(driverForm.get('licensetypeid')?.value)"
                disabled
              />}
            </div>
            <label for="licenseexpiry" class="col-sm-1 col-form-label"
              >License Expiry:</label
            >
            <div class="col-lg-3 col-md-5 col-sm-11 mt-2">
              <input
                id="licenseexpiry"
                type="date"
                name="licenseexpiry"
                class="form-control form-control-sm"
                formControlName="licenseexpiry"
                placeholder="mm/dd/yyyy"
              />
            </div>
            <label for="licenseverified" class="col-sm-1 col-form-label"
              >Verification:</label
            >
            <div class="col-lg-3 col-md-5 col-sm-11 mt-2">
              @if (isEdit) {
              <select
                class="form-select form-select-sm"
                id="licenseverified"
                formControlName="licenseverified"
              >
                <option disabled selected value="null">-----Select-----</option>
                @for (item of licenseVerification(); track $index) {
                <option [value]="item.id">{{ item.name }}</option>
                }
              </select>
              }@else {
              <input
                class="form-control form-control-sm"
                id="licenseverified"
                placeholder="-----Select-----"
                [value]="
                  getVerificationName(driverForm.get('licenseverified')?.value)
                "
                disabled
              />
              }
            </div>
            <label for="permitnumber" class="col-sm-1 col-form-label"
              >Permit #:</label
            >
            <div class="col-lg-3 col-md-5 col-sm-11 mt-2">
              <input
                id="permitnumber"
                type="text"
                name="permitnumber"
                placeholder="CONT-2892"
                class="form-control form-control-sm"
                formControlName="permitnumber"
              />
            </div>
            <label for="permitissue" class="col-sm-1 col-form-label"
              >Permit Issue:</label
            >
            <div class="col-lg-3 col-md-5 col-sm-11 mt-2">
              <input
                id="permitissue"
                type="date"
                name="permitissue"
                class="form-control form-control-sm"
                formControlName="permitissue"
                placeholder="mm/dd/yyyy"
              />
            </div>
            <label for="permitexpiry" class="col-sm-1 col-form-label"
              >Permit Expiry:</label
            >
            <div class="col-lg-3 col-md-5 col-sm-11 mt-2">
              <input
                id="permitexpiry"
                type="date"
                name="permitexpiry"
                class="form-control form-control-sm"
                formControlName="permitexpiry"
              />
            </div>
            <label for="medicalexpiry" class="col-sm-1 col-form-label"
              >Medical Expiry:</label
            >
            <div class="col-lg-3 col-md-5 col-sm-11 mt-2">
              <input
                id="medicalexpiry"
                type="date"
                name="medicalexpiry"
                class="form-control form-control-sm"
                formControlName="medicalexpiry"
              />
            </div>
            <label for="bloodgroup" class="col-sm-1 col-form-label"
              >Blood Group:</label
            >
            <div class="col-lg-3 col-md-5 col-sm-11 mt-2">
              @if (isEdit) {
              <select
                class="form-select form-select-sm"
                id="bloodgroup"
                formControlName="bloodgroupid"
              >
                <option disabled selected value="null">-----Select-----</option>
                @for (item of bloodgroups(); track $index) {
                <option [value]="item.id">{{ item.name }}</option>
                }
              </select>
              }@else {
              <input
                class="form-control form-control-sm"
                id="bloodgroup"
                placeholder="-----Select-----"
                [value]="
                  getBloodGroupName(driverForm.get('bloodgroupid')?.value)
                "
                disabled
              />
              }
            </div>
            <label for="contractorid" class="col-sm-1 col-form-label"
              >Contractor:</label
            >
            <div class="col-lg-3 col-md-5 col-sm-11 mt-2">
              @if (isEdit) {
              <select
                class="form-select form-select-sm"
                id="contractorid"
                formControlName="contractorid"
              >
                <option disabled selected value="null">-----Select-----</option>
                @for (item of contractors(); track $index) {
                <option [value]="item.id">{{ item.name }}</option>
                }
              </select>
              }@else {
              <input
                class="form-control form-control-sm"
                id="contractorid"
                placeholder="-----Select-----"
                [value]="
                  getContractorName(driverForm.get('contractorid')?.value)
                "
                disabled
              />
              }
            </div>
            <label for="visualid" class="col-sm-1 col-form-label"
              >Visual Test:</label
            >
            <div class="col-lg-3 col-md-5 col-sm-11 mt-2">
              @if (isEdit) {
              <select
                class="form-select form-select-sm"
                id="visualid"
                formControlName="visualid"
              >
                <option disabled selected value="null">-----Select-----</option>
                @for (item of visuals(); track $index) {
                <option [value]="item.id">{{ item.name }}</option>
                }
              </select>
              }@else {
              <input
                class="form-control form-control-sm"
                id="visualid"
                placeholder="-----Select-----"
                [value]="getVisualName(driverForm.get('visualid')?.value)"
                disabled
              />
              }
            </div>
            <label for="ddccount" class="col-sm-1 col-form-label"
              >DDC Count:</label
            >
            <div class="col-lg-3 col-md-5 col-sm-11 mt-2">
              <input
                id="ddccount"
                type="number"
                min="0"
                name="ddccount"
                placeholder="1"
                class="form-control form-control-sm"
                formControlName="ddccount"
              />
            </div>
            <label for="experience" class="col-sm-1 col-form-label"
              >Experience:</label
            >
            <div class="col-lg-3 col-md-5 col-sm-11 mt-2">
              <input
                id="experience"
                type="number"
                min="0"
                name="experience"
                placeholder="1"
                class="form-control form-control-sm"
                formControlName="experience"
              />
            </div>
            <label for="department" class="col-sm-1 col-form-label"
              >Department:</label
            >
            <div class="col-lg-3 col-md-5 col-sm-11 mt-2">
              <input
                id="department"
                type="text"
                name="department"
                placeholder="Quality Control"
                class="form-control form-control-sm"
                formControlName="department"
              />
            </div>
            <label for="drivercode" class="col-sm-1 col-form-label"
              >Driver Code:</label
            >
            <div class="col-lg-3 col-md-5 col-sm-11 mt-2">
              <input
                id="drivercode"
                type="text"
                name="drivercode"
                placeholder="STC-CT-001"
                class="form-control form-control-sm"
                formControlName="code"
              />
            </div>
            <label for="comment" class="col-sm-1 col-form-label"
              >Comment:</label
            >
            <div class="col-lg-7 col-md-11 col-sm-11 mt-2">
              <textarea
                id="comment"
                name="comment"
                class="form-control form-control-sm"
                formControlName="comment"
              ></textarea>
            </div>
          </div>
        </div>
      </div>
    </form>

    @if (sessions().length>0) {
    <h6>Driver Session List:</h6>
    <table
      class="table table-hover table-bordered table-responsive-sm"
      id="driversession-table"
    >
      <thead class="table-success fs-7">
        <tr>
          <th>Sr. #</th>
          <th>Session ID</th>
          <th>Session Date</th>
          <th>Class Date</th>
          <th>Location</th>
          <th>Stage</th>
          <th>Title</th>
          <th>Result</th>
          <th>QuizScore</th>
          <th>TotalScore</th>
        </tr>
      </thead>
      <tbody class="fs-7">
        @for (item of sessions(); track $index) {
        <tr>
          <td>{{ $index + 1 }}</td>
          <td>
            <a [routerLink]="['/allassessments/' + item.id]">{{ item.name }}</a>
          </td>
          <td>{{ item.sessiondate | date }}</td>
          <td>{{ item.classdate | date }}</td>
          <td>{{ getLocationName(item.locationid) }}</td>
          <td>{{ getStageName(item.stageid) }}</td>
          <td>{{ getTitleName(item.titleid) }}</td>
          <td>{{ getResultName(item.resultid) }}</td>
          <td>{{ item.quizscore }}</td>
          <td>{{ item.totalscore }}</td>
        </tr>
        }
      </tbody>
    </table>
    } }
  </div>
</div>
