/* You can add global styles to this file, and also import other style files */
.margintop {
  margin-top: 1rem;
}
.fs-7 {
  font-size: 0.75rem !important;
}
.fs-8 {
  font-size: 0.65rem !important;
}
.bg-gradient1 {
  background: linear-gradient(to right, #4889de 0%, #0923cb 100%);
}

.required::before {
  content: "*";
  color: red;
}

.custom-active {
  /* background-color: transparent !important; Or set a custom background color */
  background-color: #3c81c7 !important; /* Or set a custom background color */
  color: #96979c !important; /* Change text color for the active link */
}
.custom-active-dropdown {
  background-color: #e9edf0 !important; /* Custom background for active dropdown links */
  color: #e9edf0 !important; /* Custom text color */
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.legend-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.legend-item {
  display: flex;
  align-items: center;
  gap: 3px;
}

.legend-box {
  width: 15px;
  height: 15px;
  display: inline-block;
  border: 1px solid #ccc;
}
.legend-red {
  background-color: #f8d7da; /* Red for License Expired */
  border-color: #842029;
}

.legend-yellow {
  background-color: #fff3cd; /* Yellow for Permit Expired */
  border-color: #856404;
}

.legend-blue {
  background-color: #85c0e4;
  border-color: #856404;
}
.legend-dblue {
  background-color: #cfe2ff; /* light Blue for Permit Expired */
  border-color: #856404;
}

.legend-green {
  background-color: #d1e7dd; /* Green for Permit Expired */
  border-color: #856404;
}
.legend-darkred {
  display: inline-flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: white;
  background-color: red;
  border-color: red;
}
.legend-darkyellow {
  display: inline-flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: white;
  background-color: rgb(180, 180, 4);
  border-color: rgb(180, 180, 4);
}
.legend-darkmegenta {
  display: inline-flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: white;
  background-color: darkmagenta; /* Green for Permit Expired */
  border-color: darkmagenta;
}
.legend-darkblue {
  display: inline-flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: white;
  background-color: darkblue; /* Green for Permit Expired */
  border-color: darkblue;
}

.legend-darkgreen {
  display: inline-flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: white;
  background-color: #049554; /* Green for Permit Expired */
  border-color: #049554;
}
.my-input {
  width: 100px; /* Adjust the width as needed */
}
@media print {
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12 {
    float: left;
  }

  .col-md-1 {
    width: 8%;
  }
  .col-md-2 {
    width: 16%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33%;
  }
  .col-md-5 {
    width: 40%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58%;
  }
  .col-md-8 {
    width: 66%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83%;
  }
  .col-md-11 {
    width: 92%;
  }
  .col-md-12 {
    width: 100%;
  }
}
