.card {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}
.customcard {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  height: 375px;
}

.card-title {
  font-weight: bold;
  color: white;
}

.table th,
.table td {
  vertical-align: middle;
}
#chart {
  max-width: 650px;
  margin: 35px auto;
}
