<div class="container-fluid margintop">
  <app-toast></app-toast>
  <!-- Main Content -->
  <div class="col-12">
    <div class="row">
      <!-- Cards Section -->
      <div class="col-lg-3">
        <div class="card mb-4">
          <div class="card-body bg-success text-white">
            <h5 class="card-title">Yearly Drivers</h5>
            <p class="card-text">{{ yearlyDrivers() }}</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card mb-4">
          <div class="card-body bg-danger text-white">
            <h5 class="card-title">Monthly Drivers</h5>
            <p class="card-text">{{ monthlyDrivers() }}</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card mb-4">
          <div class="card-body bg-warning text-white">
            <h5 class="card-title">Yearly D.D.Cources</h5>
            <p class="card-text">{{ yearlySessions() }}</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card mb-4">
          <div class="card-body bg-primary text-white">
            <h5 class="card-title">Monthly D.D.Cources</h5>
            <p class="card-text">{{ monthlySessions() }}</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Charts Section -->
    <div class="row">
      <div class="col-lg-4 mb-4">
        <div class="customcard bg-success bg-opacity-75">
          <div class="card-body">
            <h5 class="card-title">Trainer Workout</h5>
            <div id="trainerCOpt">
              <apx-chart
                [series]="trainerCOpt.series"
                [chart]="trainerCOpt.chart"
                [dataLabels]="trainerCOpt.dataLabels"
                [plotOptions]="trainerCOpt.plotOptions"
                [yaxis]="trainerCOpt.yaxis"
                [fill]="trainerCOpt.fill"
                [stroke]="trainerCOpt.stroke"
                [tooltip]="trainerCOpt.tooltip"
                [xaxis]="trainerCOpt.xaxis"
              ></apx-chart>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 mb-4">
        <div class="customcard bg-primary bg-opacity-25">
          <div class="card-body">
            <h5 class="card-title">Location</h5>
            <div>
              <div id="locationCOpt"></div>
              <apx-chart
                [series]="locationCOpt.series"
                [chart]="locationCOpt.chart"
                [plotOptions]="locationCOpt.plotOptions"
                [title]="locationCOpt.title"
                [colors]="locationCOpt.colors"
              ></apx-chart>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 mb-4">
        <div class="customcard bg-dark bg-opacity-50">
          <div class="card-body">
            <h5 class="card-title">Recent Assessments</h5>
            <table class="table table-warning table-striped table-hover fs-7">
              <thead>
                <tr>
                  <th>SessionID</th>
                  <th>Created By</th>
                  <th>Created Date</th>
                </tr>
              </thead>
              <tbody>
                @for (item of sessions.value(); track $index) {
                <tr>
                  <td>
                    <a [routerLink]="['/allassessments/' + item.id]">{{
                      item.name
                    }}</a>
                  </td>
                  <td>{{ item.createdby }}</td>
                  <td>{{ item.created_at | date }}</td>
                </tr>
                }
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- Table Section -->
    <div class="row mb-1">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h5>Recent Trainings</h5>
            <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Status</th>
                  <th>Training</th>
                  <th>Sponsor - Contractors</th>
                  <th>Trainer</th>
                  <th>Assessments</th>
                  <th>Start Date</th>
                  <th>End Date</th>
                </tr>
              </thead>
              <tbody>
                @for (item of latestTrainings(); track $index) {
                <tr>
                  <td>{{ $index + 1 }}</td>
                  <td>{{ item.status }}</td>
                  <td>{{ item.name }}</td>
                  <td>
                    {{ getClientName(item.clientid) }} -
                    {{ getContractorName(item.contractorid) }}
                  </td>
                  <td>{{ getTrainerName(item.trainerid) }}</td>
                  <td>{{ item.sessioncount }}</td>
                  <td>{{ item.startdate }}</td>
                  <td>{{ item.enddate }}</td>
                </tr>
                }
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
